{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <!-- Display the job title -->
    <h3>Applying for:</h3>
    <br>
    <!-- Display the organization name -->
    <h4>{{ job_posting.title }} <span style="color: #808080;">({{ job_posting.organization.employer_org_name }})</span></h4>
    <br>

    <form method="post" enctype="multipart/form-data" action="{% url 'job_applications:apply_for_job' job_posting_id=job_posting.id %}">
        {% csrf_token %}
        <!-- Hidden fields -->
        {{ form.job_posting_id }}
        <input type="hidden" name="job_posting" value="{{ job_posting.id }}">
        <input type="hidden" name="user" value="{{ request.user.id }}">

        <!-- LinkedIn URL -->
        <div class="form-group">
            <label for="id_linkedin_url">LinkedIn URL:</label>
            <br>
            {{ form.linkedin_url }}
        </div>

        <!-- Phone number -->
        <div class="form-group">
            <label for="id_phone_number">Phone Number:</label>
            <br>
            {{ form.phone_number }}
        </div>

        <!-- Email address -->
        <div class="form-group">
            <label for="id_email_address">Email Address:</label>
            <br>
            {{ form.email_address }}
        </div>

        <!-- Resume upload -->
        <div class="form-group">
            <label for="id_resume">Resume (PDF):</label>
            <br>
            {{ form.resume }}
        </div>

        <br> <!-- Line break -->

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Submit Application</button>
    </form>
</div>
{% endblock %}
