{% extends 'base_generic.html' %}

{% block title %}{{ job_instance.title }}{% endblock %}

{% block content %}
<div class="container">
    <h3>{{ job_instance.title }}</h3>
    <p><strong>Organization:</strong> {{ job_instance.organization }}</p>

    <p><strong>Role overview:</strong> {{ job_instance.role_overview }}</p>
    <p><strong>Requirements + Preferences:</strong> {{ job_instance.role_requirements_and_preferences }}</p>
    <p><strong>Instructions:</strong> {{ job_instance.action_steps }}</p>
    <p><strong>Posted On:</strong> {{ job_instance.post_date }}</p>

    <p><strong>Job Posting ID:</strong> {{ job_instance.id }}</p>
</div>
{% endblock %}
