<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yindeed.com{% endblock title %}</title>
    <!-- advised to put the static loading even before bootstrap link -->
    {% load static %}
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include your stylesheet here if you have one -->

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">


</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Navigation panel -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'home' %}">
                                Home
                            </a>
                        </li>




                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                {% block content %}
                <!-- Your page content goes here  -->
                "content coming from base generic template"
                {% endblock content %}
            </main>
        </div>
    </div>

    <!-- Include Bootstrap Javascript and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
