{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <h2>All Jobs</h2>
    <ul>
    {% for job_posting in job_postings_list %}
        <li>
            <a href="{% url 'job_catalog:job_details' job_posting.id %}">
                {{ job_posting.id }}: {{ job_posting.title }}
            </a>
            @
            <a href="{% url 'job_catalog:company_details' job_posting.organization.id %}">
                {{ job_posting.organization.employer_org_name }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
