{% extends 'base_generic.html' %}

{% block title %}{{ job_instance.title }}{% endblock %}

{% block content %}
<div class="container">
    <h3>{{ job_instance.title }}</h3>
    <h4><font color="#808080">{{ job_instance.organization }}</font></h4>
    <br>
    <p><strong>Role overview:</strong>
        <br>
        {{ job_instance.role_overview }}
    </p>

    <p><strong>Requirements + Preferences:</strong>
        <br>
        {{ job_instance.role_requirements_and_preferences }}
    </p>

    <p><strong>Instructions:</strong><br> {{ job_instance.action_steps }}<br></p>

    <p><strong>Posted On:</strong> {{ job_instance.post_date }}<br></p>

    <p><strong>Job Posting ID:</strong> {{ job_instance.id }}<br></p>
</div>
{% endblock %}
